@model Forum.Models.UserRegistration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserRegistration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserStatus.statusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserStatus.statusName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
